
.login-style{
    position: fixed;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.login-container{
    min-width: 25%;
    min-height: 40%;
}

.form{
    padding: 4rem 2rem;
    border-radius: 12px;
    min-width: 370px;
    background-color: #24222f44;
    -webkit-box-shadow: 8px 2px 24px 4px rgba(58, 63, 92, 0.637); 
    box-shadow: 8px 2px 24px 4px #315a39;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.form-control{
}

.company-title{
    text-decoration: none;
    color:white;
    font-size: 1.5rem;
}

.test{
    margin-top:25px
}

.reset-password{
    display: flex;
    justify-content: end;
    color: #315a39
}
