.header-container {
  width: 100%;
  z-index: 10;
}

.account-main {
  display: flex;
}

.sidebar-container {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.sidebar {
  background-color: rgba(51, 49, 61, 1);
  height: 100%;
  width: 400px;
  padding: 2em;
  text-align: center;
}

.sidebar-icon {
  display: flex;
  justify-content: end;
}

.account-info {
  display: flex;
  justify-content: left;
  margin-bottom: 20%;
}

.account-avatar {
  width: 20%;
  border-radius: 50%;
}

.name-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  font-weight: bold;
  font-size: large;
  width: 100%;
}

.followers {
  margin-top: 1rem;
  width: 100%;
}

.account-bio {
  margin: 2em;
  margin-bottom: 4rem;
  height: fit-content;
  max-width: fit-content;
  border: 0.15em solid rgb(20, 21, 22);
}

.posts-container {
  display: flex;
  flex-direction: column;
  height: 850px;
  width: 100%;
  padding: 2em;
  overflow: auto;
  text-align: center;
}
