.header-container {
  width: 100%;
  z-index: 10;
}

.account-main {
  display: flex;
  position: fixed;
  height: 90vh;
  width: 100vw;
}

.sidebar-container {
  background: linear-gradient(
    8deg,
    rgba(23, 22, 33, 1) 10%,
    rgba(51, 49, 61, 1) 100%
  );
  height: 100%;
  display: flex;
  flex-direction: column;
}

.sidebar {
  text-align: center;
  width: 400px;
  padding: 2em;
}

.sidebar-icon {
  display: flex;
  justify-content: end;
}

.account-info {
  display: flex;
  justify-content: left;
  margin-bottom: 20%;
}

.name-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  font-weight: bold;
  font-size: large;
  width: 100%;
}

.followers {
  margin-top: 1rem;
  width: 100%;
}

.account-bio {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  margin: 2em;
  margin-bottom: 4rem;
  height: fit-content;
  text-align: left;
  border: 0.15em solid rgb(20, 21, 22);
}

.account-favorites {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.posts-container {
  position: relative;
  height: 90%;
  width: 90%;
  padding: 2em;
  overflow-y: scroll;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

::-webkit-scrollbar {
  display: none;
}
