.header-container {
  /*position: fixed;*/
  width: 100%;
  z-index: 10;
}

.account-main {
  display: flex;
}

.sidebar-container {
  height: 70rem;
  display: flex;
  flex-direction: column;
}

.sidebar {
  background-color: rgba(51, 49, 61, 1);
  height: 100%;
  width: 300px;
  padding: 2em;
  text-align: center;
}

.sidebar-icon {
  display: flex;
  justify-content: end;
}

.account-info {
}

.account-bio {
  margin-top: 2em;
  margin-bottom: 2em;
  height: fit-content;
  max-width: fit-content;
  border: 0.15em solid rgb(20, 21, 22);
}

.posts-container {
  display: flex;
  flex-direction: column;
  height: 1100px;
  width: 100%;
  padding: 2em;
  overflow: auto;
}
