.userpost-main-container{
    background-color: #24222F;
    display: flex;
    flex-direction: row;
    padding: 1.5rem;
    border: solid 1px #24222F;
    border-radius: 12px;
}
.userpost-main-container:hover{
    cursor: pointer;
    border: solid 1px rgb(68, 61, 85);
    transform: translateX(0);
}

.userpost-votes{
    margin-right: 1rem;
}

.userpost-image img{
    width: 100%;
    object-fit: cover;
    height: 120px;
}
.userpost-image{
    margin-right: 2.5rem;
}


.userpost-information{
    display: flex;
    flex-direction: column;
}

.post-element p, h2{
    margin: 0;
}
.post-element p{
    color: rgb(168, 168, 168);
}
