.home{
  background-color: #171621;

}
.home-header {
  padding: 1rem;
  text-align: center;
  font-size: 2rem;
}

.home-info {
  text-align: center;
  font-size: 1.5rem;
}
.home-left {
  margin-bottom: 30px;
}
.home-image-spacing {
  width: 100;
}

.home-container{
  display:flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.home-button-spacing {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  height: 3.2rem;
}

.login-button {
  width: 25%;
}

.signup-button {
  width: 25%;
}


.home-img {
  width: 400px;
  height: 500px;
  object-fit: cover;
}

.home-footer {
  padding: 15px;
  background-color: #24222F;
}

.footer-description {
  text-align: center;
  font-size: 2rem;
}
