.home {
  position: relative;
}

.home-header {
  padding: 1rem;
  text-align: center;
  font-size: 150%;
}

.home-left {
  padding-left: 3%;
  padding-bottom: 2%;
  position: absolute;
  width: 40%;
}

.home-info {
  text-align: center;
  font-size: xx-large;
}

.home-button {
  position: relative;
  left: 25%;
  top: 1rem;
  width: 50%;
  height: 7rem;
  align-items: center;
}

.button-spacing {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 4rem;
}

.login-button {
  width: 25%;
}

.signup-button {
  width: 25%;
}

.home-right {
  padding: 0%;
  width: 30%;
  height: 385%;
  position: absolute;
  top: 2rem;
  right: 5%;
}

.home-Img {
  position: absolute;
  left: 20%;
  top: 0rem;
}

.home-footer {
  position: absolute;
  top: 630%;
  height: 13.5rem;
  padding: 2%;
  background-color: rgba(36, 34, 47, 1);
}

.footer-description {
  text-align: center;
  font-size: 230%;
}
