.dm-container {
    width: 100%;
    position: fixed;
    height: 100%;
}

.dm-feed {
    background-color: #0E0E11;
    border-radius: 12px;
    display: flex;
}

.dm-users {
    width: 100%;
    margin-top: 1.5rem;
    overflow-y: auto;
    overflow-x: hidden;
}


.dm-left-container {
    border-right: #454499 solid 2px;
    width: 25%;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 3rem;
}

.dm-right-container {
    position: relative;
    width: 75%;
    padding: 2rem;
}

.dm-message-container {
    height: 100%;
    display: flex;
    flex-direction: column-reverse;
}
.dm-chat-messages{
    overflow: scroll;
    display: flex;
    flex-direction: column-reverse;
}

.highlighted-dm{
    background-color: #27206e;
}

.dm-chat-header{
    position: absolute;
    top:0;
    left: 0;
    padding:2rem;
    font-size: 2rem;
    font-weight: 500;
    width: fit-content;
}