.dm-newthread-container {
    top: 0;
    left: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 999;
    background-color: rgba(20, 1, 54, 0.397);

    display: flex;
    align-items: center;
    justify-content: center;
}

.dm-thread-list {
    min-width: 60%;
    min-height: 550px;
    background-color: #24222f;
    padding: 1rem;
    border-radius: 15px;
}

.dm-top-window {
    margin-bottom: 0.5rem;
    display: flex;
    align-items: center;
    height: fit-content;
}
.dm-close-button{
    margin-right: 1rem;
}

.dm-window-header {
    font-weight: 600;
    font-size: 1.4rem;
    height: auto
}
.dm-thread-friends{
    margin-top: 1rem;
}
.dm-friend-card {
    display: flex;
    flex-direction: row;
    padding: 1rem;
    border-radius: 12px;
    font-size: 1.5rem;
    font-weight: 500;
}

.dm-friend-card:hover{
    background-color: #161533;
    cursor: pointer;
}