.user-friend{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 1rem 0;
    overflow: hidden;
}

.user-icon{
    height: 64px;
    width: 64px;
    margin-right: 5px;
}

.friend-name{
    margin-left: 15px;
    font-size: 2rem;
}

.friend-name p{
    margin: 0;
}
