.user-friend{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

.user-icon{
    height: 140px;
    width: 140px;
    padding: .5rem;
    margin-right: 5px;
    overflow: hidden;
}

