.user-feed-container{
    padding: 4rem;
    display: flex;
    justify-content: space-around;
}
.user-feed{
    width: 70%;
}

.friends-list h2{
    margin-bottom: 1rem;
}
.container-post{
    margin-bottom: 1rem;
}


.friend-card{
    overflow: hidden;
}

.friends-list{
    background-color: #24222F;
    border-radius: 12px;
    padding: 30px;
    width: 18%;
    height: fit-content;
    position: sticky;
    top: 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}