.user-feed-container{
    padding: 4rem;
    display: flex;
    justify-content: space-around;
}
.user-feed{
    width: 75%;
}
.friends-List{
    width: 20%;
    overflow:hidden;
}
.container-post{
    margin-bottom: 1rem;
}


.friend-card{
    overflow: hidden;
}

.friends-list{
    background-color: #24222F;
    border-radius: 12px;
    padding: 30px;
    width: 10%;
    height: fit-content;
    position: sticky;
    top: 35px;
}