
<html>
  <body style="margin: 0; padding: 0; box-sizing: border-box; font-family: Arial, Helvetica, sans-serif;">
  <!-- Body text color -->
  <div style="width: 100%; background: #20bf00; border-radius: 10px; padding: 10px;">
  
    <div style="margin: 0 auto; width: 90%; text-align: center;">
      <h1 style="background-color: #20bf00; padding: 5px 10px; border-radius: 5px; color: #20bf00;">{{ title }}</h1>
      <div style="margin: 30px auto; background: white; width: 40%; border-radius: 10px; padding: 50px; text-align: center;">
        <h3 style="margin-bottom: 100px; font-size: 24px;">Hi {{ name }}!<br><br>Copy and paste the reset code below and return to your browser to proceed.</h3>
        <!--message in box-->
        <p style="margin-bottom: 30px;">Reset Code: {{ token }}</p>
        <!--button color change-->
        <!-- <a style="display: block; margin: 0 auto; border: none; background-color: #15202b99; color: rgb(0, 0, 0); width: 200px; line-height: 24px; padding: 10px; font-size: 24px; border-radius: 10px; cursor: pointer; text-decoration: none;"
          href="http://egopeek.com/reset/password"
          target="_blank" -->
        <!-- > -->
        <!--href is where the button directs you to-->
          <!-- Reset Password -->
          <!--button name above-->
        </a>
      </div>
    </div>
  </div>
  </body>
  </html>