.discover {
  height: 100vh;
}

.discover-search {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}

.discover-top {
  display: flex;
  justify-content: space-around;
  height: 40%;
}

.discover-bottom {
  height: 40%;
  display: flex;
  justify-content: space-around;
}

.discover-spacing {
  width: 50%;
  text-align: center;
}

.pp1 {
  margin-right: 0.5rem;
}

.clickable-text {
  cursor: pointer;
  text-decoration-line: underline;
  text-transform: capitalize;
  font-size: 2rem;
  font-weight: 500;
}
.clickable-text:hover{
  background-color: rgba(69, 24, 105, 0.397);
  padding: 0.5rem;
  border-radius: 12px;
}

.discover-preview {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 1rem;
}

.discover-preview-image {
  margin-right: 0.5rem;
  width: 33.3%;
  max-height: 200px;
  cursor: pointer;
}

.discover-container{
  padding: 1rem;
}