.usersettings {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.settings-left {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 20%;
}

.avatar-container {
  margin-top: 5%;
  margin-left: 15px;
  display: flex;
  justify-content: center;
}

.avatar {
  background-color: aqua;
  border-radius: 50%;
  width: 150px;
  height: 150px;
}

.edit-bio {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  width: 70%;
  height: fit-content;
  text-align: center;
  margin-top: 5%;
}

.settings-bio {
  border: 2px solid black;
  padding: 2%;
  width: 100%;
  border-radius: 10px;
  margin-top: 3%;
}

.settings-main {
  margin-left: 2%;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  flex: 60%;
}

.settings-info {
  margin-top: 3%;
  font-size: large;
}

.edit-favorites {
  margin-top: 10%;
  width: 100%;
}

.gametitle-dropdown {
  margin-top: 1%;
  min-width: 20%;
  width: fit-content;
  text-align: center;
  font-size: larger;
}

.settings-socials {
  width: 80%;
  margin-top: 10%;
}

.socials-spacing {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.editbtn-spacing {
  display: flex;
  width: 50%;
  justify-content: end;
}

.edit-btn {
  background-color: rgba(23, 22, 33, 1);
  border: none;
  color: white;
}

.editbtn-spacing {
  display: flex;
  justify-content: left;
  width: 100%;
}

.update-socials {
  margin-top: 5%;
}

.socials-header {
  margin-bottom: 1%;
  display: flex;
  flex-direction: row;
}

.socialform-inline {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 1%;
}

.button-add {
  color: white;
  background-color: rgba(23, 22, 33, 1);
  border: none;
}

.socialform-platform {
  margin-right: 2%;
}

.socialform-name {
  margin-right: 2%;
}

.savebtn-spacing {
  margin-top: 5%;
  display: flex;
  justify-content: end;
  width: 80%;
}

.save-btn {
  height: 150%;
}
