.display-socials {
  display: flex;
}

.links-header {
  display: flex;
}

.add-btn-spacing {
  margin-left: 2%;
}

.platform-spacing {
  margin-right: 5%;
}

.username-spacing {
  margin-right: 5%;
}

.links-spacing-edit {
  display: flex;
  margin-top: 2%;
}
.socials-new-input{
  margin-top: 15px;
}
.socials-new-input:last-child{
  margin-bottom: 15px;
}