.register{
    padding-top: 10rem;
}

.register-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.register-form{
    background-color: #24222f44;
    padding: 3rem;
    padding-top: 1.4rem;
    border-radius: 12px;
    text-align: center;
    -webkit-box-shadow: 8px 2px 24px 4px rgba(58, 63, 92, 0.637); 
    box-shadow: 8px 2px 24px 4px rgba(58, 63, 92, 0.658);
}
.button-grouping{
    width: 100%;
}
.button-spacing{
    display: flex;
    justify-content: space-around;
    margin-bottom: 2rem;
    flex-wrap: wrap;
}

.submit-button{
    width: 70%;
}

.alert-banner{
    margin-bottom: 1.5rem;
}